a {
	text-decoration: none;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

#Header {
	max-width: 800px;
	min-width: 400px;
	height: 80px;
	border-radius: 30px;
	background-color: #aaadab;
	color: #000000;
	margin: 10px;
	font-size: 20pt;
	margin-left: auto;
	margin-right: auto;
}

.HomeRefs {
	margin-top: 25px;
	margin-left: 30px;
	width: 70px;
	height: 30px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	transition: .2s;
}

.AddRefs {
	margin-top: 25px;
	width:100px;
	height: 30px;
	display: inline-block;
	transition: .2s;
}

.HomeRefs:hover {
	background-color: #80c4d9;
	border-radius: 10px;
}

.AddRefs:hover {
	background-color: #80c4d9;
	border-radius: 10px;
}

.UserLogo {
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	display: flex;
	width: 60px;
	height: 60px;
	background-image: url("Logo.jpg");
	border-radius: 100%;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
}