html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.login-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 300px;
  border-radius: 15px;
  padding: 20px;
}

.login-card>span {
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}

h1+a {
  color: #00b4f2
}

span~input {
  margin-top: 5px;
  font-size: 12pt;
}

.log-in-btn {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: #004580;
  color: white;
  font-weight: bold;
  border: none;
}

.log-in-btn:hover {
  background-color: #00b4f2;
}

.log-in-btn+a {
  margin-top: 10px;
  color: #00b4f2
}